h2 {
    font-size: 50px;
    font-weight: 600;
}


p {
    background-color: #bae09b;
    font-size: 20px;
}

#h1-heading {
    font-size:70px;
    font-weight: 800;
}
#portfolio-image {
    width: 50%;
    height: 50%;
    position: relative;
    right: 10000px;
}